<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument><files><clear /><add value="index.html" /></files></defaultDocument>
    <staticContent>
      <remove fileExtension=".wasm" /><mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <remove fileExtension=".webp" /><mimeMap fileExtension=".webp" mimeType="image/webp" />
      <remove fileExtension=".ogg" /><mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
      <remove fileExtension=".dat" /><mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
      <remove fileExtension=".blat" /><mimeMap fileExtension=".blat" mimeType="application/octet-stream" />
      <remove fileExtension=".json" /><mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" /><mimeMap fileExtension=".woff" mimeType="font/woff" />
      <remove fileExtension=".woff2" /><mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
    <rewrite><rules>
      <rule name="WCG page fallback" stopProcessing="true">
        <match url="^[^.]*$" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          <add input="{URL}" pattern="^/(?:_framework|data|card-art|print-art|battle|lib)/" negate="true" />
        </conditions>
        <action type="Rewrite" url="index.html" />
      </rule>
    </rules></rewrite>
    <httpProtocol><customHeaders>
      <remove name="X-Content-Type-Options" /><add name="X-Content-Type-Options" value="nosniff" />
      <remove name="Referrer-Policy" /><add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
    </customHeaders></httpProtocol>
  </system.webServer>
</configuration>
